@import '../../../../styles/styles.scss'; 

.title
{
    @include text($textH3FontSize, $primaryColor, undefined, center);

    padding-top: calc(8vh + 32px);
    margin-bottom: 32px;
    
    text-shadow: 2px 2px 4px black;
}

.recipeContainer
{
    @include superBackground(url(../images/backgrounds/recipes-list.jpg), $size);
    @include marginPadding($marginAuto, $padding);

    height: 100vh;
}

.recipeElementContainer { margin: auto; @include flex(center, undefined, undefined, $gap, wrap);}

.addRecipe:hover { color: $secondaryColor; }