.title
{
    font-size: 28px;
    text-align: center;

    padding-top: calc(8vh + 32px);
    margin-bottom: 48px;
}

.recipeContainer
{
    margin: auto;
   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 32px;

    width: 80%;
}

.addRecipeContainer 
{ 
    background-color: #F1EEEB;
    color: #394044;
    cursor: pointer;
    font-weight: 600;
    float: right;
    margin-top: -74px;
    font-size: 20px;

    width: 230px;
}

.addRecipeContainer:hover {
    color: #D15E3F;
}



