@import '../../../../styles/styles.scss'; 

.title
{
    @include text($textH3FontSize, $primaryColor, undefined, center);

    padding-top: calc(8vh + 32px);
    margin-bottom: 32px;
    
    text-shadow: 2px 2px 4px black;
}

.container
{
    @include superBackground(url(../images/backgrounds/recipes-list.jpg), cover);
    @include marginPadding(auto, 0 24px);

    height: 100vh;
}

.recipes { margin: auto; @include flex(center, undefined, undefined, 32px, wrap);}

.addRecipe:hover { color: $secondaryColor; }

.form
{
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.input
{
  @include widthHeight(200px, 32px);
  @include borderAndRadius($defaultBorder, $defaultBorderRadius);

  text-align: center;
  
  outline: none;
}