@import '../../../../styles/styles.scss'; 

.title
{
    @include text($textH3FontSize, $primaryColor, undefined, center);

    padding-top: calc(8vh + 32px);
    margin-bottom: 32px;
    
    text-shadow: 2px 2px 4px black;
}

.container
{
    background: url(../../../../images/backgrounds/recipes-list.jpg) no-repeat center center / cover;
    @include marginPadding(auto, 0 24px);

    height: 100vh;
}
@media (max-width: 1063px) { .container { height: 100%; }}

.recipes { margin: auto; @include flex(center, undefined, undefined, 32px, wrap);}

.addRecipe:hover { color: $secondaryColor; }

.form { @include flex(center); margin-bottom: 32px; }

.input
{
  @include widthHeight(200px, 32px);
  @include borderAndRadius($defaultBorder, $defaultBorderRadius);

  text-align: center;
  
  outline: none;
}

.red {color: red;}