@import '../../../../styles/styles.scss'; 

.ingredient {display: flex; flex-direction: column;}

.ingredients { @include flex(flex-start, center, undefined, 12px ); margin-bottom: 8px;}

.label, .ingredientLabel
{ 
  @include text($textH5FontSize, $tertiaryColor, $fontWeightSemiBold);

  text-shadow: 2px 2px 4px white;
}

.ingredientLabel
{ 
  width : 100%;
  text-align: center;
  margin-bottom: 24px;
}

.input
{
  width: 500px;

  @include borderAndRadius($defaultBorder, $defaultBorderRadius);
  @include text(undefined, $tertiaryColor);
  
  padding: $spacingXs;
}

.unity
{
  @include text($textH6FontSize, $tertiaryColor, $fontWeightSemiBold);
  text-shadow: 2px 2px 4px white;
}

.trashIcon
{
    @include superBackground(url(../images/icons/trash.png), cover, no-repeat);
    @include square(22px !important);
    margin-left : $spacingXs;

    cursor: pointer;
}

.quantityInput
{
    width : 58px;
    @include borderAndRadius($defaultBorder, $defaultBorderRadius);
    @include text(undefined, $tertiaryColor, undefined, center);

    padding: $spacingXXs;
}

.select
{
  @include text(undefined, $tertiaryColor);
  @include borderAndRadius($defaultBorder, $defaultBorderRadius);
  padding: $spacingXXs;
}

.addRecipeIngredient {margin-bottom: 32px;}