@import '../../../../styles/styles.scss'; 

.title
{ 
    @include text($textH3FontSize, $primaryColor, undefined, center);

    padding-top: calc(8vh + 32px);
    margin-bottom: 32px;
    
    text-shadow: 2px 2px 4px black;
}

.descriptionAppli
{
    @include text(undefined, $primaryColor, undefined, center);

    text-shadow: 3px 3px 6px #000000ad;
 
    width: 800px;
 
    margin: auto;
}

.homeContainer
{
    /* Utilise ta mixin */
    background-image: url(./Images/background-home.jpeg);
    background-size: cover;
    
    /* ceux partagés, marginPadding */
    margin: auto;
    padding: 0 24px;

    height: 100vh;
}