@import '../../../../styles/styles.scss'; 

.container { @include flex(center, center, column);}

.ingredients 
{ 
  @include text($textH5FontSize, $tertiaryColor, $fontWeightSemiBold, center);
  text-shadow: 2px 2px 4px white;
}

.addedIngredients { margin: auto; }

.button
{
    @include widthHeight(200px, 40px);
    @include dottedBorderAndRadius($dottedBorder, $defaultBorderRadius);
    @include text(undefined, $tertiaryColor, $fontWeightSemiBold);
  
}

.button:hover { @include buttonHover($secondaryColor, $defaultBorder, $primaryColor); }

.select
{
    width: 500px;

    @include text(undefined, $tertiaryColor);
    @include borderAndRadius($defaultBorder, $defaultBorderRadius);

    padding: 6px;

    @include belowMd { width: 400px; }
    @include belowXs { font-size: $textH6FontSize; }
}

.option { @include belowXs { font-size: $textH6FontSize; }}

.inputContainer { @include grid(80px 1fr); margin-left : 12px; padding: 2px 0;}

.input { margin-left : 12px; }

.addIngredientToTheListButton
{
    display : flex;

    @include text(undefined, $tertiaryColor, $fontWeightSemiBold);
    @include borderAndRadius($defaultBorder, $defaultBorderRadius);
    @include marginPadding(auto, 10px 24px);
    margin-top: 38px;


}
.addIngredientToTheListButton:hover { @include buttonHover($secondaryColor, $defaultBorder, $primaryColor); }


.removeButton
{
    @include widthHeight(100px, 30px);
    @include text(undefined, $tertiaryColor, $fontWeightSemiBold);
    @include borderAndRadius($defaultBorder, $defaultBorderRadius);

    margin-left: 12px;
}

.removeButton:hover { @include buttonHover($secondaryColor, $defaultBorder, $primaryColor); }