@import '../../../../styles/styles.scss'; 

.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button
{
    @include widthHeight(200px, 40px);
    @include dottedBorderAndRadius($dottedBorder, $defaultBorderRadius);
    @include text(undefined, $tertiaryColor, $fontWeightSemiBold);
}

.button:hover { @include buttonHover($secondaryColor, $defaultBorder, $primaryColor); }

.select
{
    width: 500px;

    @include text(undefined, $tertiaryColor);
    @include borderAndRadius($defaultBorder, $defaultBorderRadius);

    padding: 6px;
    margin-top: 32px;
    margin-bottom : 4px;
}
@media (max-width: 800px) { .select { width: 400px; }}
@media (max-width: 600px) { .select, .option { font-size: 15px; }}


.inputContainer { @include grid(80px 1fr); margin-left : 12px; }

.input { margin-left : 12px; }

.addIngredientToTheList
{
    display : flex;

    @include text(undefined, $tertiaryColor, $fontWeightSemiBold);
    @include borderAndRadius($defaultBorder, $defaultBorderRadius);
    @include marginPadding(auto, 10px 24px);
    
    margin-top: 32px;
}
.addIngredientToTheList:hover { @include buttonHover($secondaryColor, $defaultBorder, $primaryColor); }


.removeButton
{
    @include widthHeight(100px, 30px);
    @include text(undefined, $tertiaryColor, $fontWeightSemiBold);
    @include borderAndRadius($defaultBorder, $defaultBorderRadius);

    margin-left: 12px;
}

.removeButton:hover { @include buttonHover($secondaryColor, $defaultBorder, $primaryColor); }