.buttonContainer {
    padding: 0px 50px;
    margin-top: 12px;
    padding-left: 220px;
}

@media (max-width: 900px) { .buttonContainer { padding-left: 40px;} }

.logoContainer {
    display: flex;
    align-items: center;
    background-color: #ece9e9;
}

.logo {
    background: url(../../logo/logo_lacentrale.png) no-repeat;
    background-size: contain;
    height: 50px;
    width: 200px;
    transform: scale(0.8);
}

.description { font-size: 14px; font-weight: 600; }

.button {
    margin-right: 22px;
    padding: 12px 12px;
    background-color: #dedddd;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
