@import '../../../../styles/styles.scss'; 

.rightUl
{
  position: absolute;
  right: 32px;

  @include belowSm 
  { 
    position: relative; 
    right: 0; 
    padding-right: 32px;
    
  }
}

li { list-style: none; }