@import '../../../../styles/styles.scss'; 

.rightUl
{
    @include flex(flex-end);

    width: 100%;
    
    list-style-type: none;
    
    margin-right : 32px;
}

@media screen and (max-width: 550px) { a { font-size: 1.02rem; }}