@import '../../../../styles/styles.scss'; 

ul
{
  margin : 0 $spacingXXL2 0 auto;

  @include belowMd { margin-right : $spacingXL; }
  @include belowSm { margin-right : $spacingMd; }
}
li { list-style: none; }