@import '../../../../styles/styles.scss'; 

.container
{
    @include superBackground(url(../images/backgrounds/ingredients-list.jpg), cover);
    @include marginPadding(auto, 0 24px);

    height: 100vh;
}

.title
{
    @include text($textH3FontSize, $primaryColor, undefined, center);

    padding-top: calc(8vh + 32px);
    margin-bottom: 32px;
    
    text-shadow: 2px 2px 4px black;
}

.form { @include flex(center); margin-bottom: 32px; }

.input
{
  @include widthHeight(200px, 32px);
  @include borderAndRadius($defaultBorder, $defaultBorderRadius);

  text-align: center;
  
  outline: none;
}

.ingredientsList { margin-bottom: 32px;}