@import '../../../../styles/styles.scss'; 

.title
{
    @include text($textH3FontSize, $primaryColor, undefined, center);

    padding-top: calc(8vh + 32px);
    margin-bottom: 32px;
    
    text-shadow: 2px 2px 4px black;
}

.ingredientContainer
{
    /* Utilise ta mixin */
    background-image: url(./images/background-ingredient.jpg);
    background-size: cover;

    padding-bottom: calc(8vh + 32px);
}