@import '../../../../styles/styles.scss'; 

.container
{
  background: url(../../../../images/backgrounds/ingredientList.jpg) repeat-y center  / cover;
  @include marginPadding(auto, 0 $spacingMd);
  
  height: 100vh;
}

.title
{
  @include text($textH3FontSize, $primaryColor, undefined, center);

  padding-top: 82px;
  margin-bottom: 38px;
  
  text-shadow: 2px 2px 4px black;
}

.form 
{ 
  @include flex(center); 

  margin-bottom: 32px; 
}

.input
{
  @include widthHeight(200px, 32px);
  @include borderAndRadius($defaultBorder, $defaultBorderRadius);

  text-align: center;
  
  outline: none;
}

