.title
{
    font-size: 28px;
    text-align: center;

    padding-top: calc(8vh + 32px);
    margin-bottom: 32px;
}

.recipeContainer
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 32px;

    width: 80%;

    margin: auto;
}

.addIngredientContainer 
{ 
    background-color: #F1EEEB;
    color: #394044;
    cursor: pointer;
    font-weight: 600;
    float: right;
    margin-top: -74px;
    font-size: 20px;

    width: 230px;
}

.addIngredientContainer:hover {
    color: #D15E3F;
}

.title { font-size: 30px; text-align: center; margin-bottom: 32px;}