@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*
{
  box-sizing: border-box;

  margin : 0;
  padding : 0;

  color : white;
  font-family: "Open Sans";
}

body
{
  background: linear-gradient(#A18CD1, #FBC2EB);
  height : 100vh;

  display : flex;
  align-items: center;
  justify-content: center;
}

select:invalid, .form-label { color : #757575 !important }
button, select, input { cursor : pointer; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus
{
  -webkit-text-fill-color : rgb(248, 240, 240) !important;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

select /* for iPhone appeareance */
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="date"]
{
  display: block;
  -webkit-appearance:none;
}

input[type="date"]::-webkit-calendar-picker-indicator
{
  color: rgba(0, 0, 0, 0);

  opacity: 1;

  display: block;

  background: url('images/calendar.png') no-repeat;

  border-width: thin;

  min-height: 1.2em;
  width: 20px;
  height: 20px;
}
@media(max-width: 500px) { .form-input-enable { color: white; }}

.form-container
{
  width : 1000px;
  height: 533px;

  background-color: aliceblue;
  overflow: hidden;

  border-radius: 10px;
  border-color : #000000;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  display: grid;
  grid-template-columns: 35% 65%;
}
@media(max-width: 1000px) { .form-container { grid-template-columns: 100%; } }
@media(max-width: 650px) { .form-container { width: 350px; height : 600px; } }

.form-left-panel
{
  background-image : url('images/form-left-panel-image.png');
  background-size: cover;

  border : 1px solid rgb(0, 0, 0);
  border-radius: 10px 0px 0px 10px;
  border-right : none;
}
@media(max-width: 1000px) { .form-left-panel { display : none; } }

.form-right-panel
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap : 0px 50px;

  background : black;

  padding : 50px;
}
@media(max-width: 1000px) { .form-right-panel { place-items: center; } }
@media(max-width: 650px) { .form-right-panel { display : flex; flex-wrap: wrap; } }

.form-title
{
  color : #ffffffe8;
  font-weight: 400;
  font-size : 22px;

  grid-column: 1 / span 2;
}
@media(max-width: 650px) { .form-title { grid-column: 1; } }

.form-field { position : relative; }

.form-input
{
  background-color : black;

  border : none;
  border-bottom : 1px solid rgba(248, 240, 240, 0.281);

  font-size : 16px;
  font-weight: 600;
  color : rgb(248, 240, 240);

  padding-bottom: 6px;

  width : 250px;

  outline-style: none;
}

.form-input-enable { width : auto;  margin-left : 23px; }
@media(max-width: 500px) { .form-input-enable { margin-left : 5px; }}

.form-submit-button
{
  height : 35px;
  width : 115px;

  background-color : rgb(54, 218, 82);

  border : none;
  border-radius : 20px;

  font-size : 17px;
  font-weight: 500;

  transform : scale(1.1);
}

.form-input-country { margin-left : -3px; }

.form-error-message, .form-error-summary
{
  color : red;
  font-size: 14px;

  margin-top : 5px;
}

.form-error-summary
{
  width : 100%;

  margin-top : -5px;
  margin-bottom : 10px;

  grid-column: 1 / span 2;

  display : none;
}

.form-validation-image
{
  position: absolute;

  top : 0px;
  right : 0px;

  width : 20px;
}


.hidden { display : none; }

.form
{
  display: flex;
  flex-direction: column;

  margin: 20px 80px 80px;
  gap: 8px;
}

label { margin-top: 8px;}

.input { width: 400px;}

.text-danger, .errors-list { color: red; font-size: 14px;}

.submitButton
{
  width: 120px;
  height: 30px;

  border-radius: 8px;

  cursor: pointer;

  margin-top: 12px;
}
