$spacingXXs : 4px;
$spacingXs : 8px;
$spacingSm : 12px;
$spacingMd : 16px;
$spacingLg : 24px; 
$spacingXL : 32px;
$spacingXXL1 : 48px;
$spacingXXL2 : 64px;
$spacingXXL3 : 96px;
$xsWidth : 360px;
$smWidth : 600px;
$mdWidth : 1024px;
$lgWidth : 1440px;

$gap: 32px;

$gridTemplateColumns: 80px 1fr;

$padding: 0 24px;
$marginAuto: auto;