@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$fontWeightRegular : 400;
$fontWeightSemiBold : 600;
$fontWeightBold : 700;
$fontWeightBolder : 800;

$textDisplayFontSize : 48px;
$textDisplayLineHeight : 64px;
$textH1FontSize : 40px;
$textH1LineHeight : 56px;
$textH2FontSize : 32px;
$textH2LineHeight : 44px;
$textH3FontSize : 28px;
$textH3LineHeight : 36px;
$textH4FontSize : 20px;
$textH4LineHeight : 28px;
$textH5FontSize : 18px;
$textH5LineHeight : 26px;
$textH6FontSize : 14px;
$textH6LineHeight : 20px;
$textSmallFontSize : 12px;
$textSmallLineHeight : 16px;
$textXSmallFontSize : 11px;
$textXSmallLineHeight : 16px;
$textTinyFontSize : 10px;
$textTinyLineHeight : 16px;