.editRecipeContainer
{
    background-image: url(./images/background-editRecipe.jpg);
    background-size: cover;
    
    margin: auto;
    padding: 0 24px;

    height: 100vh;

}

.formTitle
{     
    color: white;
    text-align: center;
    font-size: 28px;
    text-align: center;

    padding-top: calc(8vh + 32px);
    margin-bottom: 32px;
    
    text-shadow: 2px 2px 4px black;
}

.formContainer
{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
}

.submitButton
{
    width: 130px;
    height: 30px;

    border: #BDBDBD solid 1px;
    color: #394044;
    border-radius: 8px;
    margin-top: 32px;

    font-weight: 600;
}

.submitButton:hover {
    background-color: #D15E3F;
    border:  #D15E3F;
    color: white;
}

.input
{
    width: 500px;
    border: 1px solid #BDBDBD; 
    border-radius: 8px;
    padding: 6px;
}

.title 
{
     margin-top: 20px; 

     font-size: 18px;
     color: white; 
     font-weight: 400;
     text-shadow: 2px 2px 4px black;
}
