.formTitle { margin-top: 30px; text-align: center;}

.formContainer
{
    margin-top: 50px;
    margin-left: 200px;

    display: flex;
    flex-direction: column;
}

.submitButton
{
    width: 130px;
    height: 30px;

    border: #BDBDBD solid 1px;
    color: #394044;
    border-radius: 8px;

    font-weight: 600;
}

.submitButton:hover {
    background-color: #D15E3F;
    border:  #D15E3F;
    color: white;
}

.recipeTitle, .recipeDescription
{
    width: 500px;
    border: 1px solid #BDBDBD; 
    border-radius: 8px;
}

.title { margin-top: 20px;}

.selectIngredient
{
    width: 500px;
    margin-bottom: 30px;
    border: 1px solid #BDBDBD; 
    border-radius: 8px;
}
