@import '../../../../styles/styles.scss'; 

.containerPage
{
    background: url(../../../../images/backgrounds/edit-recipe.jpg) no-repeat center center / cover;;
    @include marginPadding(auto, 0 24px);

    height: 100%;
}

.title
{     
    @include text($textH3FontSize, $primaryColor, undefined, center);
    
    padding-top: calc(8vh + 32px);
    margin-bottom: 32px;
    
    text-shadow: 2px 2px 4px black;
}

.formContainer { @include flex(undefined, undefined, column); }

.input
{
    @include borderAndRadius($defaultBorder, $defaultBorderRadius);
    @include text(undefined, $tertiaryColor);

    width: 500px;

    padding: 6px;
}
@media screen and (max-width: 1100px) { .input { width: 400px; }}
@media screen and (max-width: 850px) { .input { width: 500px; }}
@media screen and (max-width: 600px) { .input { width: 400px; margin: auto;}}

.recipeIngredientInput { width : 50px; margin-right : $spacingXs; }

.label 
{
    @include text($textH5FontSize, $primaryColor, $fontWeightRegular);

    margin-top: 20px; 

    text-shadow: 2px 2px 4px black;
}
@media screen and (max-width: 600px) { .label { margin-left: 22px;}}

.container { @include flex(center, undefined, undefined, 122px); }
@media screen and (max-width: 1200px) { .container { 
    @include flex(center, undefined, undefined, 50px); }}
@media screen and (max-width: 1120px) { .container { 
    @include flex(center, center, column); }}

.changeImageContainer
{
    @include widthHeight(500px, 400px);
    @include flex(space-evenly, center, column);

    margin-top: 22px;
    padding: 22px;

    border: dotted 2px white;
}
@media screen and (max-width: 600px) { .changeImageContainer { @include widthHeight(400px, 300px); }}

.titleImage
{
    @include text($textH5FontSize, $primaryColor, undefined, center);

    text-shadow: 2px 2px 4px black;
}

.image { background-size: cover; @include widthHeight(150px, 150px); }

.downloadImageButton
{
    @include widthHeight(300px, 40px);
    @include borderAndRadius($defaultBorder, $defaultBorderRadius);
    @include text(undefined, $tertiaryColor, $fontWeightSemiBold, center, $textH3LineHeight);
    background-color: white;

    cursor: pointer;
}

.downloadImageButton:hover { @include buttonHover($secondaryColor, $defaultBorder, $primaryColor); }

.inputImage {display: none;}

.recipeIngredient { color : $primaryColor; padding-top: 10px; }
@media screen and (max-width: 1000px) { .recipeIngredient { width: 410px; }}
@media screen and (max-width: 850px) { .recipeIngredient { margin: auto; }}

.removeButton
{
    @include widthHeight(100px, 30px);
    @include borderAndRadius($defaultBorder, $defaultBorderRadius);
    @include text(undefined, $tertiaryColor, $fontWeightSemiBold);

    margin-left: $spacingSm;
}
.removeButton:hover { @include buttonHover($secondaryColor, $defaultBorder, $primaryColor); }

.select { margin-left: 12px;}

.submitButton
{
    @include widthHeight(130px, 30px);
    @include borderAndRadius($defaultBorder, $defaultBorderRadius);
    @include text(undefined, $tertiaryColor, $fontWeightSemiBold);

    margin: 22px 0px;
}
.submitButton:hover { @include buttonHover($secondaryColor, $defaultBorder, $primaryColor); }
@media screen and (max-width: 600px) { .submitButton { margin: auto; margin-top: 22px; margin-bottom: 22px;}}

