@import '../../../../styles/styles.scss'; 

.containerPage
{
  background: url(../../../../images/backgrounds/addRecipe.jpg) no-repeat center center / cover; 
  @include marginPadding(auto, 0 24px);

  height: 100vh;
  min-height: 1200px;
}
@media (max-width: 1000px) { .containerPage { min-height: 1700px;}}
@media (max-width: 500px) { .containerPage { min-height: 1200px;}}

.title
{ 
  @include text($textH3FontSize, $primaryColor, undefined, center);

  padding-top: calc(8vh + 32px);
  margin-bottom: 18px;
  
  text-shadow: 2px 2px 4px black;
}
@media (max-width: 1000px) { .title {margin-bottom: -30px;}}
@media (max-width: 650px) { .title {font-size: 24px; }}
@media (max-width: 500px) { .title {font-size: 20px; margin-bottom: -150px;}}

.container { @include flex(center, center, undefined, 122px); width: 100%;}
@media (max-width: 1050px) { .container {gap: 80px;}}
@media (max-width: 1000px) { .container 
{
  @include flex(center, center, column-reverse); 
  transform: scale(0.95);
 }}
@media (max-width: 500px) { .container {transform: scale(0.7);}}

.elements { @include flex(center, center, undefined);}

.form { @include flex(center, center, column, 52px); }
@media (max-width: 500px) { .form {gap: 0px; }}

.rightElements 
{ 
  @include flex(center, center, column);
  padding-top: 42px;
}

.label
{ 
  @include text($textH5FontSize, $tertiaryColor, $fontWeightSemiBold);

  text-shadow: 2px 2px 4px white;

  margin: 22px 0px;
}

.input
{
  width: 500px;

  @include borderAndRadius($defaultBorder, $defaultBorderRadius);
  @include text(undefined, $tertiaryColor);
  
  padding: 8px;
}

.submitButton
{
  @include borderAndRadius($defaultBorder, $defaultBorderRadius);
  @include text($textH6FontSize, $tertiaryColor, $fontWeightSemiBold);
  padding: 10px 24px;

  margin-top: 22px;

  cursor: pointer;
}
@media (max-width: 500px) { .submitButton { transform: scale(0.9); margin-top: 12px;}}
.submitButton:hover { @include buttonHover($secondaryColor, $defaultBorder, $primaryColor); }