@import '../../../../styles/styles.scss'; 

.containerPage
{
  background: url(../../../../images/backgrounds/addRecipe.jpg) no-repeat center center / cover; 
  @include marginPadding(auto, 0 24px);

  height: 100vh;
  min-height: 1100px;
}
@media (max-width: 1000px) { .containerPage { min-height: 1600px;}}
// @media (max-width: 500px) { .containerPage { min-height: 1300px;}}
// @media (max-width: 450px) { .containerPage { min-height: 1200px;}}

.title
{ 
  @include text($textH3FontSize, $primaryColor, undefined, center);

  padding-top: calc(8vh + 32px);
  margin-bottom: 48px;
  
  text-shadow: 2px 2px 4px black;
}
@media (max-width: 1000px) { .title {margin-bottom: -30px;}}
@media (max-width: 600px) { .title {font-size: 20px; }}

.container { @include flex(center, center, undefined, 122px); width: 100%;}
@media (max-width: 1050px) { .container {gap: 80px;}}
@media (max-width: 1000px) { .container 
{
  @include flex(center, center, column-reverse); 
  transform: scale(0.95);
 }}
// @media (max-width: 500px) { .container { transform: scale(0.8); margin-bottom: -70px;}}
@media (max-width: 450px) { .container { transform: scale(0.75); margin-bottom: -90px; }}
@media (max-width: 400px) { .container { transform: scale(0.7); margin-bottom: -110px;}}

.elements { @include flex(center, center, undefined); }

.form { @include flex(center, center, column, 52px); }

.rightElements { @include flex(center, center, column, 22px); padding-top: 42px}

.label 
{ 
  @include text($textH5FontSize, $tertiaryColor, $fontWeightSemiBold);

  text-shadow: 2px 2px 4px white;
}

.input
{
  width: 500px;

  @include borderAndRadius($defaultBorder, $defaultBorderRadius);
  @include text(undefined, $tertiaryColor);
  
  padding: 8px;
}

.addRecipeIngredient {margin-bottom: 32px;}

.submitButton
{
  @include borderAndRadius($defaultBorder, $defaultBorderRadius);
  @include text($textH6FontSize, $tertiaryColor, $fontWeightSemiBold);
  padding: 10px 24px;

  margin-top: 22px;

  cursor: pointer;
}
@media (max-width: 500px) { .submitButton { transform: scale(0.9); margin-top: 12px;}}

.submitButton:hover { @include buttonHover($secondaryColor, $defaultBorder, $primaryColor); }