@import '../../../../styles/styles.scss'; 

.containerPage
{
    @include superBackground(url(../images/backgrounds/add-recipe.jpg), cover);
    @include marginPadding(auto, 0 24px);

    height: 100vh;
}
@media (max-width: 1050px) { .containerPage { height: 100%; padding-bottom: 22px}}

.container { @include flex(center, undefined, undefined, 122px); }
@media (max-width: 1200px) { .container { 
    @include flex(center, undefined, undefined, 40px); }}
@media (max-width: 1150px) { .container { 
    @include flex(center, undefined, undefined, 10px); }}
@media (max-width: 1050px) { .container { 
    @include flex(center, center, column, 30px); }}

.title
{ 
    @include text($textH3FontSize, $primaryColor, undefined, center);

    padding-top: calc(8vh + 32px);
    margin-bottom: 32px;
    
    text-shadow: 2px 2px 4px black;
}

.formContainer { @include flex(undefined, undefined, column); }

.formElementContainer { @include flex(center); }

.submitButton
{
    @include widthHeight(130px, 30px);
    @include borderAndRadius($defaultBorder, $defaultBorderRadius);
    @include text(undefined, $tertiaryColor, $fontWeightSemiBold);

    margin-top: 32px;
}
.submitButton:hover { @include buttonHover($secondaryColor, $defaultBorder, $primaryColor); }
@media (max-width: 800px) { .submitButton { margin-bottom: 22px; }}

.addIngredientButton 
{
    @include widthHeight(50px, 25px);
    @include borderAndRadius($defaultBorder, $defaultBorderRadius);
    @include text($textH5FontSize, $tertiaryColor, $fontWeightSemiBold, $textH6LineHeight);
}

.input
{
    width: 500px;

    @include borderAndRadius($defaultBorder, $defaultBorderRadius);
    @include text(undefined, $tertiaryColor);
   
    padding: 6px;
}
@media (max-width: 800px) { .input { width: 400px; }}

.label { 
    margin-top: 20px;
    @include text($textH5FontSize, $primaryColor, $fontWeightRegular);

    text-shadow: 2px 2px 4px black;
}


