.addRecipeContainer
{
    background-image: url(./images/background-addRecipe.jpg);
    background-size: cover;
    
    margin: auto;
    padding: 0 24px;

    height: 100vh;

}

.formTitle
{ 
    color: white;
    text-align: center;
    font-size: 28px;
    text-align: center;

    padding-top: calc(8vh + 32px);
    margin-bottom: 32px;
    
    text-shadow: 2px 2px 4px black;
}

.formContainer { display: flex; flex-direction: column; }

.formElementContainer { display: flex; justify-content: center; }

.submitButton
{
    width: 130px;
    height: 30px;

    color: #394044;
    border: #BDBDBD solid 1px;
    border-radius: 8px;

    font-weight: 600;

    margin-top: 32px;
}
.submitButton:hover {
    background-color: #D15E3F;
    border:  #D15E3F;
    color: white;
}


.addIngredientButton 
{
    width: 50px;
    height: 25px;

    line-height: 20px;
    font-size: 18px;


    color: #394044;
    border: #BDBDBD solid 1px;
    border-radius: 8px;

    font-weight: 600;
}

.input
{
    width: 500px;
    color: #394044;
    border: #BDBDBD solid 1px;
    border-radius: 8px;
    padding: 6px;
}

.title { margin-top: 20px;}