@import '../../../../styles/styles.scss'; 

.addRecipeContainer
{
    @include superBackground(url(../images/backgrounds/add-recipe.jpg), cover);
    @include marginPadding(auto, 0 24px);

    height: 100vh;
}

.addRecipeElement { @include flex(center, undefined, undefined, 122px); }

.formTitle
{ 
    @include text($textH3FontSize, $primaryColor, undefined, center);

    padding-top: calc(8vh + 32px);
    margin-bottom: 32px;
    
    text-shadow: 2px 2px 4px black;
}

.formContainer { @include flex(undefined, undefined, column); }

.formElementContainer { @include flex(center); }

.submitButton
{
    @include widthHeight(130px, 30px);
    @include borderAndRadius($defaultBorder, $defaultBorderRadius);
    @include text(undefined, $tertiaryColor, $fontWeightSemiBold);

    margin-top: 32px;
}
.submitButton:hover { @include buttonHover($secondaryColor, $defaultBorder, $primaryColor); }

.addIngredientButton 
{
    @include widthHeight(50px, 25px);
    @include borderAndRadius($defaultBorder, $defaultBorderRadius);
    @include text($textH5FontSize, $tertiaryColor, $fontWeightSemiBold, $textH6LineHeight);
}

.input
{
    width: 500px;

    @include borderAndRadius($defaultBorder, $defaultBorderRadius);
    @include text(undefined, $tertiaryColor);
   
    padding: 6px;
}

.title { margin-top: 20px;}


