.recipeElement
{
    width: 230px;
    height: 215px;

    background-color: #e2f5ef;
    border-radius: 8px;

    text-align: center;
    padding: 15px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.6);
}

.viewRecipeButton
{
    width: 130px;
    height: 30px;

    border: #BDBDBD solid 1px;
    color: #394044;
    border-radius: 8px;

    font-weight: 600;
    cursor: pointer;

    margin: auto;
}
.viewRecipeButton:hover { color: #D15E3F;}

.recipeTitle
{
    cursor: pointer;

    padding-top: 12px;
    padding-bottom: 12px;

    font-size: 18px;
    font-weight: 500;
}

.recipeTitle:hover { color: #D15E3F;}

.recipeImage
{
    background-size: contain;
    width: 100px;
    height : 100px;
}

.removeButton 
{
    background-image: url(./Icons/trash.png);
    background-size: cover;
    width: 25px;
    height: 25px;

    cursor: pointer;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}