@import '../../../../styles/styles.scss'; 

.element
{
    @include widthHeight(230px, 215px);

    background-color: #e2f5ef;
    border-radius: $defaultBorderRadius;

    text-align: center;

    padding: 15px;
    
    box-shadow: 0 1px 0 rgba(0,0,0,0.6);
}

.viewButton
{
    @include widthHeight(130px, 30px);
    @include borderAndRadius($defaultBorder, $defaultBorderRadius);
    @include text(undefined, $tertiaryColor, $fontWeightSemiBold);

    cursor: pointer;

    margin: auto;
}
.viewButton:hover { color : $secondaryColor;}

.title
{
    cursor: pointer;

    padding-top: 12px;
    padding-bottom: 12px;

    @include text($textH5FontSize, undefined, $fontWeightSemiBold);
}

.title:hover { color: $secondaryColor;}

.image
{
    background-size: cover;
    @include widthHeight(100px, 100px);
    margin-left : 21px;
}

.removeButton 
{
    @include superBackground(url(../images/icons/trash.png), cover);
    @include widthHeight(25px, 25px);

    cursor: pointer;
    float: right;
    
    margin-right: 10px;
    margin-top: 10px;
}