.recipeElement
{
    width: 200px;
    height: 200px;
    border: turquoise solid 3px;
    border-radius: 8px;

    text-align: center;
    padding-top: 10px;
}

.recipeButton
{
    background-color: turquoise;
    color: white;
    font-weight: 600;

    border-radius: 8px;

    width: 130px;
    height: 30px;

    cursor: pointer;

    margin: auto;
}

.recipeTitle
{
    padding-bottom: 15px;
}

.removeButton 
{
    background-color: red;
    color: white;
    font-weight: 600;

    border-radius: 8px;

    width: 130px;
    height: 30px;

    cursor: pointer;

    margin: auto;
    margin-top: 22px;

}