.descriptionRecipeContainer
{
    background-image: url(./images/background-description.jpg);
    background-size: cover;
    
    margin: auto;
    padding: 0 24px;

    height: 100vh;

}

.recipeContainer
{
    background-color: rgb(216, 214, 214);

    margin: auto;

    padding: 24px;
    width: 60%;
    line-height: 32px;

    border-radius: 8px;

    box-shadow: 0 1px 0 rgba(0,0,0,0.8);
}


.titleRecipe
{
    color: white;
    text-align: center;
    font-size: 28px;
    text-align: center;

    padding-top: calc(8vh + 32px);
    margin-bottom: 32px;
    
    text-shadow: 2px 2px 4px black;
}

.ingredientsRecipe
{
 
    line-height: 32px;
    margin-top: 22px;

}

.descriptionRecipe, .ingredientsRecipe
{
    margin: auto;
    padding: 12px;
}

.buttonContainer
{
    display: flex;
    justify-content: center;
}

.editButton
{
    color: white;
    font-weight: 600;

    border: #BDBDBD solid 1px;
    color: #394044;
    border-radius: 8px;

    width: 130px;
    height: 30px;

    cursor: pointer;
}

.editButton:hover {
    background-color: #D15E3F;
    border:  #D15E3F;
    color: white;
}