@import '../../../../styles/styles.scss'; 

.container
{
  background: url(../../../../images/backgrounds/description.jpg) repeat-y center center / cover;
  @include marginPadding(auto, 0 $spacingXXL2 $spacingXL $spacingXXL2);

  height: 100%;
  @include belowMd { padding : 0 $spacingXL $spacingXL $spacingXL; }
}

.title
{
  @include text($textH3FontSize, $primaryColor, undefined, center);

  padding-top: calc(8vh + 32px);
  margin-bottom: $spacingXL;
  text-shadow: 2px 2px 4px black;
}

.elements 
{ 
  @include grid(1fr 1fr);
  @include belowMd { @include grid(1fr); }
}

.descriptionContainer 
{ 
  padding: $spacingXL;

  background-color: #e5e9ec96; 

  text-align: center;

  border-radius: $spacingXXL2;
}

.cookInformationContainer
{ 
    @include flex(center, center, center, 42px);

    padding-bottom: 18px;
}

.label 
{ 
  padding : 20px 0;
  @include text($textH5FontSize, undefined, $fontWeightSemiBold);
}

.descriptionContent 
{ 
  margin-bottom: 18px; 
}

.ingredients 
{ 
  padding-bottom: $spacingXs; 
}

.image 
{ 
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 8px;

  @include belowMd
  { 
    height: 300px;
    grid-row: 1;
    margin-top : -$spacingXL;
  }
}

.button
{
  @include borderAndRadius($defaultBorder, $defaultBorderRadius);
  @include text($textH6FontSize, $tertiaryColor, $fontWeightSemiBold);
  padding: 8px;

  margin-top: 22px;

  cursor: pointer;
}

.button:hover { @include buttonHover($secondaryColor, $defaultBorder, $primaryColor); }