@import '../../../../styles/styles.scss'; 

.container
{
  background: url(../../../../images/backgrounds/description.jpg) repeat-y center center / cover;
  @include marginPadding(auto, 0 24px);

  height: 100%;
  padding-bottom: 32px;
}

.title
{
  @include text($textH3FontSize, $primaryColor, undefined, center);

  padding-top: calc(8vh + 32px);
  margin-bottom: 32px;
  text-shadow: 2px 2px 4px black;

  @include belowMd { margin-bottom: -10px;}
  @include belowSm { font-size: textH4FontSize; margin-bottom: -130px}
}

.elements 
{ 
  @include flex(center);

  @include belowMd { @include flex(center, center, column-reverse);}
  @include belowSm { transform: scale(0.7)}

}

.descriptionContainer 
{ 
  margin-left: 100px;
  padding: 32px;

  background-color: #e5e9ec96; 

  text-align: center;

  border-radius: 30%;
  width: 50%;

  @include belowMd 
  { 
    margin-left: 0px; 
    width: 70%; 
    padding: 22px;  
    border-radius: 10%;
  }
  @include belowSm { width: 80%; font-size: $textH6FontSize;}

}

.cookInformationContainer
{ 
    @include flex(center, center, center, 42px);

    padding-bottom: 18px;

    @include belowMd { @include flex(center, center, center, 22px);}
}

.label 
{ 
  padding : 20px 0;
  @include text($textH5FontSize, undefined, $fontWeightSemiBold);

  @include belowSm { padding : 10px 0;}
}

.descriptionContent 
{ 
  margin-bottom: 18px; 

  @include belowMd { margin-bottom: 8px;}
}

.ingredients 
{ 
  padding-bottom: 8px; 

  @include belowMd { padding-bottom: 5px;}
  @include belowSm { padding-bottom: 3px;}
}

.image 
{ 
  background-repeat: no-repeat;
  background-position: center;
  width : 50%;

  border-radius: 8px;

  @include belowMd { height: 300px;}
  @include belowSm { width : 400px;}
}

.button
{
  @include borderAndRadius($defaultBorder, $defaultBorderRadius);
  @include text($textH6FontSize, $tertiaryColor, $fontWeightSemiBold);
  padding: 8px;

  margin-top: 22px;

  cursor: pointer;
}

.button:hover { @include buttonHover($secondaryColor, $defaultBorder, $primaryColor); }