.descriptionRecipe
{
    margin: auto;
    width: 60%;
    line-height: 32px;
}

.titleRecipe
{
    color: white;
    text-align: center;
    font-size: 28px;
    text-align: center;

    padding-top: calc(8vh + 32px);
    margin-bottom: 32px;
    
    text-shadow: 2px 2px 4px black;
}

.editButton
{
    color: white;
    font-weight: 600;

    border: #BDBDBD solid 1px;
    color: #394044;
    border-radius: 8px;

    width: 130px;
    height: 30px;

    cursor: pointer;

    margin-left: 280px;
    margin-top: 30px;

}

.editButton:hover {
    background-color: #D15E3F;
    border:  #D15E3F;
    color: white;
}