@import '../../../../styles/styles.scss'; 

.container
{
  background: url(../../../../images/backgrounds/home.jpg) no-repeat center center / cover; 

  @include marginPadding(auto, 0 24px);

  height: 100vh;
}

.title
{ 
  @include text($textH1FontSize, $tertiaryColor, undefined, center);

  padding-top: calc(24vh + 32px);
  margin-bottom: $spacingLg;
  
  text-shadow: 2px 2px 4px white;
}
@media (max-width: 670px) { .title { @include text($textH3FontSize); }}
@media (max-width: 400px) { .title { font-size: 20px; }}

.descriptionAppli
{
  @include text(undefined, $tertiaryColor, undefined, center);
  font-size: 18px;

  padding: 0 120px;

}
@media (max-width: 850px) { .descriptionAppli { width: 100%; padding: 0 50px;}}
@media (max-width: 500px) { .descriptionAppli { transform: scale(0.85); padding: 0px;}}



