@import '../../../../styles/styles.scss'; 

.title
{ 
    @include text($textH3FontSize, $primaryColor, undefined, center);

    padding-top: calc(8vh + 32px);
    margin-bottom: 32px;
    
    text-shadow: 2px 2px 4px black;
}

.descriptionAppli
{
    @include text(undefined, $primaryColor, undefined, center);

    text-shadow: 3px 3px 6px #000000ad;
 
    width: 800px;
 
    margin: auto;
}

.homeContainer
{
    @include superBackground(url(./images/backgrounds/home.jpeg), $size);
    @include marginPadding($marginAuto, $padding);

    height: 100vh;
}