@import '../../../../styles/styles.scss'; 

.container
{
  background: url(../../../../images/backgrounds/home.jpg) no-repeat center center / cover; 

  @include marginPadding(auto, 0 124px);

  height: 100vh;

  @include belowMd { padding : 0 $spacingLg; }
}

.title
{ 
  @include text($textH1FontSize, $tertiaryColor, undefined, center);

  padding-top: calc(24vh + 32px);
  margin-bottom: $spacingLg;
  
  text-shadow: 2px 2px 4px white;

  @include belowMd { font-size: $textH3FontSize; }
}

.description
{
  @include text(18px, $tertiaryColor, undefined, center);
}