@import '../../../../styles/styles.scss'; 

.label 
{  
    @include text($textH5FontSize, $tertiaryColor, $fontWeightSemiBold, center);

    text-shadow: 2px 2px 4px white;
}

.li 
{ 
    display: flex; 
    padding: 22px 0; 
    @include text(undefined, $tertiaryColor, $fontWeightSemiBold);
}

.trashIcon
{
    @include superBackground(url(../images/icons/trash.png), cover);
    @include widthHeight(22px, 22px);
    margin-left : $spacingXs;

    cursor: pointer;
}