@import '../../../../styles/styles.scss'; 

.container
{
    @include widthHeight(500px, 400px);
    @include flex(space-around, center, column);

    margin-top: 22px;
    padding: 22px;

    background-color: #b0b0b196;
    border: dotted 2px white;

    @include belowSm { margin-top: -50px; }
    @include belowXs {@include widthHeight(450px, 350px); }
}

.title
{
    @include text($textH5FontSize, $primaryColor, undefined, center);

    text-shadow: 2px 2px 4px black;
}

.image { @include widthHeight(270px, 270px); background-position: center}

.label
{
    @include borderAndRadius($defaultBorder, $defaultBorderRadius);
    @include text(undefined, $tertiaryColor, $fontWeightSemiBold, center, $textH3LineHeight);
    background-color: white;

    padding: 4px 18px;

    cursor: pointer;
}

.label:hover { @include buttonHover($secondaryColor, $defaultBorder, $primaryColor); }

.input {display: none;}

