.container
{
    background-color: #6549F1;
    display: flex;

    width: 100%;
    height: 50px;
}

.addButton
{
    color: white;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;

    margin-left: 22px;

    cursor: pointer;
}

.input
{
    background-color: transparent;
    border: none;

    margin-left: 22px;
    padding-left: 14px;

    color: white;
    font-size: 18px;
    font-weight: 500;

    width: 100%;
}

.input::placeholder
{
    color: white;
    font-size: 18px;
    font-weight: 500;

    padding-left: 14px;
}