@import '../../../../styles/styles.scss'; 

.navBar 
{ 
    background-color: rgba(0, 0, 0, 0.5);
    position : absolute;
    
    display : flex;
    
    height : 8vh;
    width : 100%;

    line-height: 8vh;
}


a {
    @include text($textH4FontSize, $primaryColor, $fontWeightRegular);

    text-decoration: none;
    list-style: none;

    margin-left: 100px;

    text-shadow: 2px 2px 4px #000000c7;
}
@media (max-width: 950px) { a { margin-left: 60px; }}
@media (max-width: 750px) { a { @include text($textH5FontSize);}}
@media (max-width: 980px) { a { margin-left: 0px; margin-right: 50px;}}
@media (max-width: 550px) { a { margin-right: 15px; }}
@media (max-width: 630px) { a { margin-right: 14px; }}
@media (max-width: 450px) { a { margin-right: 10px; }}


a:hover { color: #ffae71; }

.leftUl
{
    width : 50%;

    @include flex(undefined, center);

    margin : 0;
    list-style-type: none;
}
@media (max-width: 450px) { .leftUl  { padding-left: 9px; }}

