@import '../../../../styles/styles.scss';

.element, a
{
  @include text($textH4FontSize, $primaryColor, $fontWeightRegular);

  text-decoration: none;
  list-style: none;

  text-shadow: 2px 2px 4px #000000c7;

  @include belowMd { font-size: $textH5FontSize; }
  @include belowSm
  {
    font-size: 14px;
    position: absolute;
    margin-top: -39px;
    margin-left: -50px;

    width: 200px;

  }
}

.element:hover { color: #ffae71; }

.active { color : $secondaryColor; }