.ingredients
{
    margin-top: 32px;
}

.addedIngredients { list-style : square; }

.button
{
    width: 200px;
    height: 40px;

    color: #394044;
    border: dotted 2px;
    border-radius: 8px;

    font-weight: 600;

    margin-top: 32px;
}

.button:hover
{
    background-color: #D15E3F;
    border:  #D15E3F;
    color: white;
}

.select
{
    width: 500px;
    
    color: #394044;
    
    border: #BDBDBD solid 1px;
    border-radius: 8px;

    padding: 6px;
    margin-top: 32px;
    margin-bottom : 4px;
}

.inputContainer
{ 
    display : grid;
    grid-template-columns: 80px 1fr;
    margin-left : 12px;
}
.input { margin-left : 12px; }

.addIngredientToTheList
{
    display : flex;

    color: #394044;
    
    border: #BDBDBD solid 1px;
    border-radius: 8px;

    font-weight: 600;

    margin : auto;
    margin-top: 32px;
    padding : 12px 16px;
}
.addIngredientToTheList:hover {
    background-color: #D15E3F;
    border:  #D15E3F;
    color: white;
}


.removeButton
{
    width: 100px;
    height: 30px;

    color: #394044;
    border: solid 1px;
    border-radius: 8px;

    font-weight: 600;

    margin-left: 12px;
}

.removeButton:hover
{
    background-color: #D15E3F;
    border:  #D15E3F;
    color: white;
}