@import '../../../../styles/styles.scss'; 

.container { @include flex(undefined, center, column); }
@media (max-width: 1000px) { .container { transform: scale(0.95);}}
@media (max-width: 500px) { .container {transform: scale(0.7); margin-top: -160px;}}

.title 
{ 
  @include text($textH5FontSize, $tertiaryColor, $fontWeightSemiBold);
  margin-bottom: 28px;

  text-shadow: 2px 2px 4px white;
}

.elements, .items { display: flex; gap: 16px; }
@media (max-width: 810px) { .elements {flex-direction: column; }}

.input
{
    width: 190px;
    @include borderAndRadius($defaultBorder, $defaultBorderRadius);
    @include text(undefined, $tertiaryColor, undefined, center);
    
    padding: 8px;
}
