@import '../../../../styles/styles.scss'; 

.container { @include flex(undefined, center, column); }
// @media (max-width: 1170px) { .container {transform: scale(0.9);}}
// @media (max-width: 1050px) { .container {transform: scale(0.86);}}
// @media (max-width: 970px) { .container {transform: scale(0.8);}}
// @media (max-width: 900px) { .container {transform: scale(0.75); }}
// @media (max-width: 815px) { .container {transform: scale(0.95); }}
@media (max-width: 600px) { .container {transform: scale(0.9); }}
// @media (max-width: 500px) { .container {transform: scale(0.8); }}
// @media (max-width: 450px) { .container {transform: scale(0.75); }}
// @media (max-width: 400px) { .container {transform: scale(0.7); }}

.title 
{ 
  @include text($textH5FontSize, $tertiaryColor, $fontWeightSemiBold);
  margin-bottom: 28px;

  text-shadow: 2px 2px 4px white;
}

.elements, .items { display: flex; gap: 16px; }
@media (max-width: 810px) { .elements {flex-direction: column; }}

.input
{
    width: 190px;
    @include borderAndRadius($defaultBorder, $defaultBorderRadius);
    @include text(undefined, $tertiaryColor, undefined, center);
    
    padding: 8px;
}
