@import '../../../../styles/styles.scss'; 

.formContainer
{
    margin-top: 50px;

    @include flex(center);

    > input
    {
        @include text(undefined, $tertiaryColor, undefined, center);
        @include borderAndRadius($defaultBorder, $defaultBorderRadius);

        width: 130px;

        margin-left: 20px;
    }
}

.title { margin-top: 20px;}

.removeButton 
{
    @include superBackground(url(../images/icons/trash-red.png), cover);

    filter: drop-shadow(0 0 0.75rem black);

    @include widthHeight(25px, 25px);

    cursor: pointer;

    margin-left: 20px;
}

.updateButton
{
    @include widthHeight(130px, 30px);
    @include borderAndRadius($defaultBorder, $defaultBorderRadius);
    @include text(undefined, $tertiaryColor, $fontWeightSemiBold, center, $textH5LineHeight);

    margin-left: 20px;

    background-color: #F1EEEB;

    cursor: pointer;
}

.updateButton:hover { @include buttonHover($primaryColor, $defaultBorder); }