
.formContainer
{
    margin-top: 50px;

    display: flex;
    justify-content: center;

}

.ingredientTitle, .ingredientQuantity, .ingredientUnity
{
    width: 130px;

    border: #BDBDBD solid 1px;
    border-radius: 8px;
    color: #394044;

    text-align: center;

    margin-left: 20px;
}

.title { margin-top: 20px;}


.removeButton 
{
    background-image: url(./Icons/trash.png);
    background-size: cover;
    width: 25px;
    height: 25px;

    cursor: pointer;

    margin-left: 20px;
}

.updateButton
{
    width: 130px;
    height: 30px;

    line-height: 26px;
    text-align: center;
    color: #394044;
    font-weight: 600;

    background-color: #F1EEEB;

    cursor: pointer;

    border: #BDBDBD solid 1px;
    border-radius: 8px;

    margin-left: 20px;
}
.updateButton:hover {

    background-color: #ffae71;
    border:  #ffae71;
    color: white;
}

