@import '../../../../styles/styles.scss'; 

.formContainer
{
    margin-top: 50px;

    @include flex(center, center);
    gap : 16px;

    > input
    {
        @include text(undefined, $tertiaryColor, undefined, center);
        @include borderAndRadius($defaultBorder, $defaultBorderRadius);

        height : 26px;
    }

    @media (max-width: 650px) { gap : 8px; }
}


.title { margin-top: 20px;}

.removeButton 
{
    @include superBackground(url(../images/icons/trash-red.png), cover, no-repeat);

    filter: drop-shadow(0 0 0.75rem black);

    @include square($spacingLg);

    cursor: pointer;

    @media (max-width: 650px) { @include square($spacingMd); }
}

.updateButton
{
    @include borderAndRadius($defaultBorder, $defaultBorderRadius);
    @include text(undefined, $tertiaryColor, $fontWeightSemiBold, center, $textH5LineHeight);
    padding : 0 8px;
    border : 0;

    background-color: #F1EEEB;

    cursor: pointer;
}
.updateButton:hover { @include buttonHover($secondaryColor, $defaultBorder, $primaryColor); border : 0; }

.formContainer > input, .updateButton
{
    @media (max-width: 650px) { font-size : 0.8rem; }
    @media (max-width: 580px) { font-size : 0.62rem; }
}
