@import '../../../../styles/styles.scss'; 

.ingredient 
{ 
    @include flex(center, center, center, 32px, wrap); 
    padding-bottom: 22px;

    @include belowMd { transform: scale(0.9); gap: 12px;}
}

.input, .title
{ 
    text-align: center;
    @include borderAndRadius($defaultBorder, $defaultBorderRadius);
    background-color: #e7f1f596;
    height: 32px;
    padding: 0 5px;
    cursor: pointer;

    @include belowSm { max-width: 146px; padding: 0;}
}

.title {width: 191px; line-height: 30px;}

.trashIcon
{
    @include superBackground(url(../images/icons/trash.png), cover);
    @include widthHeight(22px, 22px);

    cursor: pointer;
}

.updateButton
{
    @include borderAndRadius($defaultBorder, $defaultBorderRadius);
    @include text(undefined, $tertiaryColor, $fontWeightSemiBold, center, $textH5LineHeight);
    padding : 0 10px;
    border : 0;

    background-color: #F1EEEB;
    height: 32px;
    line-height: 30px;

    cursor: pointer;


    @include belowSm { font-size: $textH6FontSize; padding: 0 8px;}
}
.updateButton:hover { @include buttonHover($secondaryColor, $defaultBorder, $primaryColor); border : 0; }
