
.formContainer
{
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 50px;

    display: flex;
}

.submitButton
{
    width: 130px;
    height: 30px;

    background-color: blue;
    border: blue;
    border-radius: 8px;

    color: white;
    font-weight: 600;

    margin-left: 20px;
}

.ingredientTitle, .ingredientQuantity, .ingredientUnity
{
    width: 130px;

    border: 2px solid turquoise; 
    border-radius: 8px;

    margin-left: 22px;

    text-align: center;
}

.title { margin-top: 20px;}
