$color : blue;
.formTitle { font-size: 30px; text-align: center; margin-bottom: 32px;}

.formContainer
{
    margin-top: 50px;
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
}

.submitButton
{
    width: 130px;
    height: 30px;

    color: #394044;
    border: #BDBDBD solid 1px;
    border-radius: 8px;

    font-weight: 600;

    margin-left: 20px;
}
.submitButton:hover {
    background-color: #D15E3F;
    border:  #D15E3F;
    color: white;
}

.ingredientTitle, .ingredientQuantity, .ingredientUnity
{
    width: 130px;

    border: 1px solid #BDBDBD; 
    border-radius: 8px;

    margin-left: 22px;

    text-align: center;
}


