@import '../../../../styles/styles.scss'; 

.title
{ 
    @include text($textH3FontSize, $primaryColor, undefined, center);

    padding-top: calc(8vh + 32px);
    margin-bottom: 32px;
    
    text-shadow: 2px 2px 4px black;
}

.container
{
    background: url(../../../../images/backgrounds/add-ingredient.jpg) no-repeat center center / cover;
    @include marginPadding(auto, 0 24px);

    height: 100vh;
}

.formElement
{
    margin-top: 80px;
    margin-bottom: 80px;

    @include flex(center);
}
@media (max-width: 730px) { .formElement { @include flex(center, center, column);}}

.label { @include text($textH5FontSize, $primaryColor, $fontWeightRegular); margin-left: 12px;}

.input
{
    width: 180px;

    @include borderAndRadius($defaultBorder, $defaultBorderRadius);

    margin-left: $spacingSm;
    margin-right: $spacingSm;

    text-align: center;
}
@media (max-width: 730px) { .input { width: 400px; margin: 22px;}}

.submitButton
{
    @include widthHeight(130px, 30px);
    @include borderAndRadius($defaultBorder, $defaultBorderRadius);
    @include text(undefined, $tertiaryColor, $fontWeightSemiBold);

    margin-left: 45%;
}
@media (max-width: 730px) { .submitButton { margin-left: 40%;}}
.submitButton:hover { @include buttonHover($secondaryColor, $defaultBorder, $primaryColor); }